/* Mobil Cihazlar (768px ve altı) */
@media (max-width: 768px) {
    header {
        background-size: cover; /* Görselin ekranı kaplamaya devam etmesini sağlar */
        background-attachment: scroll; /* Performans sorunlarını önlemek için */
    }
}

/* Tablet Cihazlar (1024px ve altı) */
@media (max-width: 1024px) {
    header {
        background-size: cover; /* Görselin ekranı kaplamaya devam etmesini sağlar */
        background-attachment: scroll; /* Performans sorunlarını önlemek için */
    }
}
